
<body>
    <nav class="navbar">
      <a href="/">Home</a>
      <a href="/form">Greet V1</a>
      <a href="/form-2">Greet V2</a>
      <a href="/lucky">Lucky</a>
      <a href="/hello">Hello</a>
      <a href="/goodbye">Goodbue</a>
    </nav>
  
    <main id="content">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if message %}
    <section class="messages">
        {% for category,msg in messages %}
        <p class = "{{category}} "> {{msg}}</p>
        {% endfor %}
    </section>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </main>

<script src="/static/app.js"></script>
</body>
